<%= form_with model: @blog, data: { turbo: false },class: "mb-15"  do |f| %>
  <% if @blog.errors.any? %>
    <div class="alert-danger">
      <h3 class="form-title-error"><%= t("forms.messages.errors", count: @blog.errors.count) %> </h3>
      <ul>
        <% @blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Blog Title" %>
  </div>

  <div class="field">
    <% placeholder =  "<h2>title</h2>\n" \
                      "<h3>sub-title</h3>\n"\
                      "<p>Paragraph</p>\n"\
                      "</br> Empty line\n"\
                      "<a href=\"https://www.example.com\">A link</a>\n"\
                      "This is a <b>Bold</b> text.\n"\
    %>
    <%= f.label :content, placeholder: placeholder %>
    <%= f.text_area :content, size: "50x30" %>
  </div>

  <div class="field">
    <%= f.label :keywords %>
    <%= f.text_area :keywords, size: "50x2", placeholder: "tag1, tag2, tag3, ...(coma separated)"  %>
  </div>

  <div class="actions">
    <%= f.submit t("forms.submit"), class: "btn btn-success" %>
  </div>

<% end %>
