<main class="container-console">
  <h1><%= t('pages.console.title') %></h1>
  <div class="container-console-widgets">
    <section class="widget-exports">
      <h1><%= t('pages.console.export_title') %></h1>
      <div class="console-export-content mb-5">
        <p><%#= link_to t('pages.console.export_button'), subscribers_index_path(format: :csv), class: "btn btn-primary" %></p>
        <p class="ml-10"><%= t('pages.console.export_subscribers') %></p>
      </div>
      <div class="console-export-content mb-5">
        <p><%#= link_to t('pages.console.export_button'), contacts_path(format: :csv), class: "btn btn-primary" %></p>
        <p class="ml-10"><%= t('pages.console.export_contacts') %></p>
      </div>
      <div class="console-export-content mb-5">
        <p><%#= link_to t('pages.console.export_button'), blog_views_index_path(format: :csv), class: "btn btn-primary" %></p>
        <p class="ml-10"><%= t('pages.console.export_blog_views') %></p>
      </div>
    </section>
    <section class="widget-blog-views">
      <h1><%= t('pages.console.blog_views_title') %></h1>
      <%#= area_chart BlogView.group_by_month(:created_at).count, colors: ["#ca2e55", "#666"] %>
    </section>
    <section class="widget-blog-views">
      <h1><%= t('pages.console.contacts_count_title') %></h1>
      <%#= area_chart Contact.group_by_month(:created_at).count, colors: ["#bdb246", "#666"] %>
    </section>
    <section class="widget-blog-views">
      <h1><%= t('pages.console.contacts_category_title') %></h1>
      <%#= pie_chart Contact.group(:category).count, colors: ["#8a6552", "#462521", "#ca2e55", "#bdb246"] %>
    </section>
  </div>
</main>
