<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('contacts_mailer.new_submission.title') %></h1>
    <h3><%= t('contacts_mailer.new_submission.category') %>:<%= @contact.category %></h3>
    <p><%= t('contacts_mailer.new_submission.from') %>:<%= @contact.email %></p>
    <p><%= t('contacts_mailer.new_submission.date') %>:<%= l @contact.created_at %></p>
    <p><%= t('contacts_mailer.new_submission.last_name') %>:<%= @contact.last_name %></p>
    <p><%= t('contacts_mailer.new_submission.first_name') %>:<%= @contact.first_name %></p>
    <p><%= t('contacts_mailer.new_submission.phone')%>:<%= @contact.phone %></p>
    <p><%= t('contacts_mailer.new_submission.company') %>:<%= @contact.company %></p>
    <p><%= t('contacts_mailer.new_submission.description') %>:<%= @contact.description %></p>
  </body>
</html>
