<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>📢 Soumission d'un nouveau formulaire!</h1>
    <h3>Concerne: <%= @contact.category %></h3>
    <p>Provenance: <%= @contact.email %></p>
    <p>Date: <%= @contact.created_at %></p>
    <p>Nom: <%= @contact.last_name %></p>
    <p>Prenom: <%= @contact.first_name %></p>
    <p>Tel: <%= @contact.phone %></p>
    <p>Societé: <%= @contact.company %></p>
    <p>Description: <%= @contact.description %></p>
  </body>
</html>
