<header>
  <div class="logo">
    <p class="logo-text">Logo</p>
  <!--
    <%= link_to root_path do %>
      <%#= image_tag("logo.png", alt: "Company logo") %>
    <% end %>
  -->
  </div>
  <nav>
    <div class="nav-links">
      <% if user_signed_in? %>
        <p class="nav-link"><%= link_to "Services", root_path %></p>
        <p class="nav-link"><%= link_to "A Propos", root_path %></p>
        <p class="nav-link"><%= link_to "Blog", root_path %></p>
        <p class="nav-button"><%= link_to "Contact", root_path %></p>
      <% else %>
        <p class="nav-link"><%= link_to "Services", root_path, class: "" %></p>
        <p class="nav-link"><%= link_to "A Propos", root_path, class: "" %></p>
        <p class="nav-link"><%= link_to "Blog", root_path, class: "" %></p>
        <p class="nav-button"><%= link_to "Contact", root_path, class: "btn btn-primary" %></p>
        <div data-controller="account" data-action="click->account#menu">
          <p class="nav-account">&#127877;</p>
            <div class="account-menu-content" data-account-target="account">
              <% if user_signed_in? %>
                <p><%= link_to "Account", edit_user_registration_path %></p>
                <p><%= link_to "Sign Out", destroy_user_session_path, data: {turbo_method: :delete} %></p>
              <% else %>
                <p><%= link_to "Sign In", new_user_session_path %></p>
                <p><%= link_to "Sign Up", new_user_registration_path %></p>
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div data-controller="burger" data-action="click->burger#menu" class="burger">
      <p>&#9477;</p>
      <div class="burger-menu-content" data-burger-target="burger">
        <% if user_signed_in? %>
          <p><%= link_to "Services", root_path %></p>
          <p><%= link_to "A Propos", root_path %></p>
          <p><%= link_to "Blog", root_path %></p>
          <p><%= link_to "Contact burger-divider", root_path %></p>
          <p><%= link_to "Account", edit_user_registration_path %></p>
          <p><%= link_to "Sign Out", destroy_user_session_path, data: {turbo_method: :delete} %></p>
        <% else %>
          <p><%= link_to "Services", root_path %></p>
          <p><%= link_to "A Propos", root_path %></p>
          <p><%= link_to "Blog", root_path %></p>
          <p><%= link_to "Contact", root_path, class: "burger-divider" %></p>
          <p><%= link_to "Sign In", new_user_session_path %></p>
          <p><%= link_to "Sign Up", new_user_registration_path %></p>
        <% end %>
      </div>
    </div>
  </nav>
</header>
