<div class="container-contacts">
  <h1><%= t('contacts.title') %></h1>

  <%= form_with model: @contact, data: { turbo: false } do |f| %>
    <% if @contact.errors.any? %>
      <div class="alert-danger">
        <h3 class="form-title-error"><%= t("forms.messages.errors", count: @contact.errors.count) %> </h3>
        <ul>
          <% @contact.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :company %>
      <%= f.text_field :company %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
    <div class="field">
      <%= f.label :category %>
      <%= f.select :category, Contact::CATEGORIES %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, size: "50x10" %>
    </div>
    <div class="field">
      <%= f.label :accept_private_data_policy, t("contacts.acceptation") %>
      <%= link_to "Politique de confidentialité", politique_confidentialite_index_path %>
      <%= f.check_box :accept_private_data_policy %>
    </div>
    <div class="actions">
      <%= f.submit t("forms.submit"), class: "btn btn-success" %>
    </div>
  <% end %>
</div>
