<article class="container-faq">
  <h1><%= t('.title') %></h1>
  <section class="container-faq-elements" data-controller="faq">
    <% @faqs.each_with_index do | faq, index | %>
      <div class="container-faq-element mb-5">
        <div class="container-faq-element-header">
          <div id="<%= index + 1 %>" class="container-faq-element-header-symbol" data-action="click->faq#show" >
            <p>&#x25B6;</p> 
          </div>
          <div class="container-faq-element-header-question">
            <p><%= faq.question %></p>
          </div>
        </div>
        <div id="<%= index + 1 %>" class="container-faq-element-answer" data-faq-target="answer" >
          <em><%= faq.answer.html_safe %></em>
        </div>
      </div>
  <% end %>
  </section>
  <section class="mt-20">
    <h1><%= t('.title_additional_question') %></h1>
    <p class="ml-5"><%= t(".additional_question") %></p>
    <p class="ml-5" ><%= link_to t(".button_question"), new_contact_path, class: "btn btn-success" %></p>
  </section>
</article>

<%= render 'seo' %>
